# Python
.venv/
__pycache__/
*.pyc

# Django
*.sqlite3
.env

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfplan

# Mac
.DS_Store

# IDE
.vscode/
.idea/
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl
*.tfvars
.venv/
.DS_Store
*.backup
tfplan*
